body, html {
  background-color: #EEEEEE;
  color: #555555;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  line-height: 1.5;
}
@media (min-width: 1200px) {
  .container {
    width: 900px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 900px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 900px;
  }
}
@media (max-width: 991px) {
  header {
    text-align: center;
  }
  header .navigation {
    text-align: center;
    float: none !important;
    padding-left: 0px;
  }
}
h2 {
  font-family: 'Lobster Two', cursive;
  font-size: 45px;
  font-weight: 400 !important;
  color: #555;
}
h4 {
  font-weight: 600;
  color: #333;
}
.feat {
  min-height: 140px;
}
.feat i {
  font-size: 30px;
  color: #888;
}
.main {
  text-align: center;
}
.main .row {
  padding-bottom: 50px;
}
.social {
  padding-top: 10px;
}
.social a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 5px 10px;
  line-height: 50px;
  margin-right: 10px;
  border-radius: 40px;
}
.blue {
  color: #61A7CA;
  text-shadow: none;
}
.logo {
  margin-bottom: 15px;
}
.logo h1 a {
  font-size: 40px;
  line-height: 40px;
  color: #EBEBEB;
  font-family: 'Lobster Two', cursive;
  text-shadow: 1px 1px 1px #777;
}
.logo h1 a:hover {
  text-decoration: none;
}

header {
  background-color: #159957;
  background-image: linear-gradient(120deg, #69B8E5, #C8E9A0);
  color: #EBEBEB;
}
header .top {
  background-color: rgba(0,0,0,0.1);
  border-bottom: 1px solid #888;
}
header .social a {
  background-color: rgba(0,0,0,0.3);
}

.hero {
  padding: 20px 0px;
  color: #EBEBEB;
  border-bottom: 1px solid #AAA;
}
.hero p {
  font-size: 22px;
}
.hero strong {
}
.hero h1 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
}
footer {
  background-color: #191919;
}
footer .social {
  padding-top: 15px;
}
footer .social a {
  background-color: #1E78AD;
  border: none;
}
footer h5 {
  color: #fff;
  font-size: 18px;
  margin-top: 40px;
}
footer a {
  color: #AAA;
  font-size: 13px;
}
footer a:hover {
  color: #EEE;
  text-decoration: none;
}
footer hr {
  border-top: 1px solid #101010;
  border-bottom: 1px solid #222222;
  width: 100%;
}
footer .col-xs-6 {
  min-height: 150px;
}
.copy {
  font-size: 13px;
  margin: 20px;
  color: #AAA;
}
.top .navigation {
  margin-top: 23px;
}
.navigation .btn {
  color: rgba(255,255,255,0.9);
  background-color: rgba(0,0,0,0.4);
  border: 1px solid rgba(255,255,255,0.2);
}
.navigation .btn:hover {
  color: rgba(255,255,255,0.8);
  background-color: rgba(255,255,255,0.2);
  border: 1px solid rgba(255,255,255,0.3);
}

.btn-download {
  background-color: #39a5e2;
  box-shadow: 0 2px 0 0 rgba(255,255,255,0.2) inset,0 2px 3px rgba(0,0,0,0.3);
  color: #F9FDFF;
  font-size: 17px;
  line-height: 50px;
  font-weight: bold;
  transition: background 1s ease;
  padding: 0px 25px;
  border: 0px;
  display: inline-block;
}
.btn-download:hover {
  background: #1c97dd;
  color: #F9FDFF;
  -webkit-transition: background 1s ease;
  -moz-transition: background 1s ease;
  -o-transition: background 1s ease;
  -ms-transition: background 1s ease;
  transition: background 1s ease;
}

