<div class="top">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="logo">
          <h1><a href="/">Spock Web Framework</a></h1>
        </div>
      </div>
      <div class="col-md-6">
        <ul class="navigation pull-right">
          <a class="btn btn-default" href="{{ "/" | prepend: site.baseurl }}">Home</a>
          <a class="btn btn-default" href="{{ "/tutorial/" | prepend: site.baseurl }}">Tutorial</a>
          <a class="btn btn-default" href="{{ "/blog/" | prepend: site.baseurl }}">Blog</a>
          <a class="btn btn-default" href="https://hackage.haskell.org/package/Spock" target="_blank">Docs</a>
        </ul>
      </div>
    </div>
  </div>
</div>
