<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>SIMPLE<span class="blue">.</span> EXPRESSIVE<span class="blue">.</span> FAST<span class="blue">.</span></h1>
        <p>Kickstart your next Haskell web application within seconds using Spock.</p>
        <a href="https://hackage.haskell.org/package/Spock" class="btn btn-default btn-download">
          <i class="fa fa-cloud-download"></i> Download from Hackage
        </a> <strong>or run <i>cabal install Spock</i></strong>
        <div class="social">
          <a href="https://github.com/agrafix/Spock">
            <i class="fa fa-github"></i>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <img src="{{ "/img/browser.png" | prepend: site.baseurl }}" class="img-responsive">
      </div>
    </div>
  </div>
</div>
